/* General styles */
  @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292727;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lilita One', cursive;
    font-weight: bold;
    color: #fff;
}

/* Header and navigation bar*/
header {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Main content */
main {
    padding: 1rem;
}

h1 {
    margin-bottom: 1.5rem;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
}