/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family: 'Montserrat', sans-serif;
    color: aquamarine;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lilita One', cursive;
    font-weight: bold;
    color: aquamarine;
    text-align: center;
}

/* Header and navigation bar */
header {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    color: aquamarine;
}

/* Main content */
main {
    padding: 1rem;
}

h1 {
    margin-bottom: 1.5rem;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.game-setup {
    margin-bottom: 2rem;
    text-align: center;
}

.game-container {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #333;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-width: 4px;
    border-style: solid;
    /* border gradient copy from @thewebforce found on tik tok*/
    border-image: linear-gradient(45deg,cyan,#00ff95)1;
    width: min(100% - 30px, 840px);
    margin-inline: auto;
}

.game-container.active {
    display: flex;
}


.col2 {
    flex: 1;
    padding: 1rem;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: aquamarine;
    text-decoration: none;
    text-align: center;
    margin-bottom: 1rem;
}

.button:hover {
    background-color: #555;
}

/* Style Board */
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.game-cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    margin-bottom: 5px;
    text-align: center;
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}


/* scores*/
.scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}

.scores p {
    margin-bottom: 1rem;
}

#restartBtn {
    display: inline-block;
    
    
}

#restartBtn.active {
    display: inline-block;
}

/*rules*/
.rules {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    padding: 2rem;
/* border gradient copy from @thewebforce found on tik tok*/
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(45deg,cyan,#00ff95)1;
    background-color: #333;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    width: min(100% - 30px, 840px);
    margin-inline: auto;
}

.rules ul {
    list-style-type: disc;
    padding-left: 2rem;
}

.rules li {
    margin-bottom: 1rem;
}

/* Footer */
footer {
    background-color: #333;
    color: aquamarine;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}